@import url('css2-NanumMyeongjowght400700_swap.css');

.p-overlay {
	display: none;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	top: 0;
	z-index: 999;
	left: 0;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .6);
	text-align: center;
	overflow-y: auto;
}

.p-overlay .p-inside {
	border: 4px solid #117327;
	position: relative;
	width: 100%;
	max-width: 400px;
	right: 0;
	left: 0;
	top: 50%;
	margin: 0 auto;
	background: #fff none repeat scroll 0 0;
	text-align: center;
	padding: 20px 10px;
	border-radius: 10px;
	transition: all 0.2s;
	/* animation: .7s ease 0s normal none 1 running pop-up-appear; */
	transform: translateY(-50%);
	overscroll-behavior: contain;
}

.p-overlay .p-inside h3 {
	font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
}

.p-overlay .p-inside .list {
	margin: 10px;
}

.p-overlay .p-inside .list li {
	margin-bottom: 5px;
	column-gap: 10px;
	line-height: 1.25;
}

.p-overlay .p-inside .list li .list-icon .check {
	width: 15px;
    height: 15px;
	background: url(../image/list-icon--check.svg) center no-repeat, #117327;
    background-size: 9px;
}

.p-overlay .p-inside .list li p {
	font-size: 14px;
	line-height: 1.25;
}

.p-overlay .p-inside .close-p {
	position: absolute;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	color: #fff;
	background-color: #117327;
	border-radius: 50%;
	cursor: pointer;
	right: -13px;
	top: -13px;
}

.button.p-button {
	animation: none;
	margin: 10px auto;
	font-size: 18px;
}

.button.p-button.p-button-green {
	background: #117327;
}

.button.p-button.p-button-grey {
	background: #f5f5f5;
	color: #313131;
}

@media screen and (max-width: 413px) {
	.p-overlay .p-inside {
		padding: 10px;
	}
	.p-prod {
		width: 70%;
		margin: 0 auto;
	}
	.p-overlay .p-inside h3 {
		font-size: 16px;
	}
	.button.p-button {
		font-size: 14px;
		padding: 7px 15px;
	}
}